@import '../../style/variables.scss';

.char {
	&__search {
		&-form {
			margin-top: 30px;
			padding: 25px;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
			position: relative;
			z-index: 5;
			background-color: #fff;
		}

		&-label {
			display: block;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			color: #000;
		}

		&-wrapper {
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			input {
				border: none;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				width: 250px;
				height: 38px;
				padding: 0 10px;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				color: rgba(0, 0, 0, 0.5);
			}
		}

		&-error {
			margin-top: 25px;
			color: $main-color;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
		}

		&-critical-error {
			margin-top: 25px;
		}

		&-success {
			color: #03710e;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
		}
	}
}